.title {
font-family: Arial;
color: navy;
}

.nav {
  font-family: Arial;
  font-size: 10px;
  color: navy;
}

h1 {
  font-family: "Arial Narrow";
  font-size: 60px;
  color: black;
}

h2 {
  font-family: Arial;
  font-size: 24px;
  color: navy;
}

h3 {
  font-family: Arial;
  font-size: 18px;
  font-align: center;
  color: black;
}

p {
font-family: Arial;
font-size: 12px;
color: black;
}

.seoul {
  float: left;
  height: 400px;
  width: 200px;
  padding: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  text-transform: bold;
}

