
.title {
font-family: 'Cabin';
color: navy;
}

.nav {
  font-family: 'Cabin', sans-serif, 400;
  font-size: 20px;
  color: navy;
  text-align: right;
  word-spacing: 10px;
  padding-right: 10px;
}

.nav a {
  padding-left: 20px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.aboutbanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Cabin', sans-serif, 600;
  font-size: 90px;
  color: black;
  margin-top: 150px;
  margin-bottom: 150px;
  max-width: 50%;
  height: auto;
  text-align: center;
  flex-grow: 1;
}

.seoul1 {
  height: auto;
  max-width: 50%;
  padding: 5px;
  margin: 0px;
  flex-grow: 1;
}


.shati {
  font-family:'Cabin', sans-serif, 600;
  font-size: 60px;
  max-width: 50%;
  height: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.about {
  max-width: 50%;
  height: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.name {
  font-size: 15px;
  height: 235px;
  width: 235px;
  text-align: center;
  border: 1px solid black;
  border-radius: 100%;
  padding: 25px;
  margin: 5px; 
  position: static;
  
}

h2 travel {
  font-family: Arial;
  font-size: 30px;
  color: navy;
  position: static;
}

h2 connect {
  font-family: Arial;
  font-size: 30px;
  color: navy;
  position: static;
}

h3 {
  font-family: Arial;
  font-size: 25px;
  text-align: right;
  color: black;
  height: 100px;
  width: 100px;
}
  
p {
font-family: "Arial Narrow";
font-size: 20px;
color: black;
}

.uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  text-transform: bold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
