
.title {
font-family: 'Cabin';
color: navy;
}

.nav {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
  text-align: right;
  margin-right: 20px;
}

.nav a {
  padding-right: 20px;
  padding-left: 20px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 75px;
  
}

.aboutbanner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
  max-width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-botton: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 100px;
  color: black;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 20px;
  max-width: 50%;
  height: auto;
  text-align: center;
  flex-grow: 1;
  line-height: 80%;
}

.seoul1 {
  height: auto;
  max-width: 50%;
  margin-right: 20px;
  flex-grow: 1;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  max-width: 70%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}

.about {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 250px;
  max-width: 70%;
  height: auto;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}

.callout {
  background-color: black;
  color: white;
  height: 300px;
  width: 300px;
  text-align: center;
  border: 1px solid black;
  border-radius: 100%;
  padding: 25px;
  margin: 5px; 
  float: right;
  position: relative;
  bottom: 250px;
  right: 50px;
  z-index: 1;
}

.why {
  font-size: 16px;
  font-weight: 300px;
  font-family: 'PT Sans', sans-serif;
  z-index: 2;
  }
  
.name {
  font-size: 16px;
  font-weight: 300px;
  font-family: 'PT Sans', sans-serif;
   z-index: 2;
  }
  
.camera_roll {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: 1000px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-botton: 20px;
}

img {
  max-width: 25%;
  height: auto;
  margin: 10px;
}

.connect {
  display: flex;
  justify-content: center;
} 
  
h2 travel {
  font-family: Arial;
  font-size: 30px;
  color: navy;
  position: static;
}

h3 {
  font-weight: 500;
  font-size: 60px;
}

h4 {
  font-size: 16px;
  background-color: black;
  color: white;
}
  
  
p {
font-family: "PT Sans", sans-serif;
font-size: 20px;
color: black;
}

.uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  text-transform: bold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
